{%- assign selected_variant = product.selected_or_first_available_variant -%}
{%- assign selected_media = selected_variant.featured_media | default: product.featured_media -%}
<div class="product-form__payment-container" {{ block.shopify_attributes }}>
  {%- if product.template_suffix != 'contact' -%}
    {%- if product.selected_or_first_available_variant.available -%}
      {%- if product.template_suffix == 'pre-order' -%}
        <button type="submit" class="product-form__add-button button cart-btn button--primary" data-action="add-to-cart">{{ 'product.form.pre_order' | t }}</button>
      {%- else -%}
        <button type="submit" class="product-form__add-button button cart-btn button--primary" data-action="add-to-cart">{{ 'product.form.add_to_cart' | t }} <i class="bi bi-cart-plus-fill"></i>      </button>
      {%- endif -%}
    {%- else -%}
      <button type="submit" class="product-form__add-button button cart-btn button--disabled" disabled>{{ 'product.form.sold_out' | t }}</button>
    {%- endif -%}
    <button type="button" class="product-form__enquire-button button cart-btn button--secondary" onclick="window._fk.productEnquire(this)" data-pid="{{ product.id }}" data-name="{{ product.title }}" data-url="{{ product.url }}" data-sku="{{ selected_variant.sku }}" data-img="{{ selected_media | img_url: '600x' }}">
      TELL ME MORE <i class="bi bi-question-lg fkw-ml-0"></i>
    </button>
  {%- else -%}
    <a href="mailto:{{ shop.email }}" class="button button--primary">{{ 'product.form.contact_us' | t }}</a>
  {%- endif -%}

  {%- if block.settings.show_payment_button and product.selected_or_first_available_variant.available == false -%}
    <style>
      #shopify-section-{{ section.id }} .shopify-payment-button {
        display: none;
      }
    </style>
  {%- endif -%}
</div>